*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --color:rgb(0, 255, 179);
}

body{
    height:100vh;
    background-image: url('images/weve.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 450px;
    font-family: arial;
    overflow: hidden;
}

header{
    position: fixed;
    top: 10px;
    left: 0px;
    height:60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    transition: .3s linear;
}

header .logo{
    display: flex;
    align-items: center;
}

header .logo img{
    height: 60px;
    margin: 5px 10px;
}

header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-around;
}

header .navbar ul li{
    font-size: 20px;
    color: var(--color);
    cursor: pointer;
}

header .navbar ul li:hover{
    color: #264aad;
}

input{
    display: none;
}

label{
    z-index: 2;
    position: absolute;
    top: 30px; right: 10px;
    cursor: pointer;
    display: none;
}

label span {
    display: block;
    height: 3px;
    width: 30px;
    background: var(--color);
    margin: 5px 0;
    transition: .3s;
}

label span:nth-child(1){
    margin-left: 20px;
}
label span:nth-child(2){
    width: 50%;
}

#toggle:checked ~ label > span:nth-child(1) {
    background: #fff;
    transform: rotateZ(45deg);
    width: 30px;
    margin-top: 10px;
}

#toggle:checked ~ label > span:nth-child(2) {
    background: #fff;
    transform: rotateZ(-45deg);
    width: 30px;
    margin-top: -8px;
    margin-left: 19px;
}

#toggle:checked ~ header .navbar{
    left: 0;
}

.container{
    margin: 70px auto;
}

.container .contant{
position: relative;
}

.container .contant .info{
    position: absolute;
    top: 70px; left: 160px;
    width: 500px;
    text-align: justify;
    margin: 0 auto;
}

.container .contant .info h1{
    font-size: 70px;
}

.container .contant .info p{
    color: #333;
    font-size: 14px;
    text-align: justify;
}

.container .contant .info button{
    height: 45px;
    width: 150px;
    background: var(--color);
    outline: none;
    border: none;
    margin-top: 20px;
}

.container .contant .info button:hover{
    opacity: .7;
    transition: .2s;
    cursor: pointer;
}

.container .contant .info button a{
    text-decoration: none;
    color: white;
}

.container .contant .image > img{
    height: 400px;
    width: 600px;
    float: right;
}

.icons{
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    top: 40%; left: 15px;
}

.icons i{
    font-size: 25px;
    margin-top:10px ;
}

.icons i:hover{
    color: var(--color);
    cursor: pointer;
}













@media (max-width:978px){

    .container .contant .image > img{
        display: none;
    }

    label{
        display: block;
    }

    header .navbar{
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0; left: 100%;
        background: var(--color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .navbar ul{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
    }

    header .navbar ul li{
        margin: 10px 0 ;
        font-size: 40px;
        color: #fff;
    }

    header .navbar ul li:hover{
        background: #fff;
        border-radius: 50px;
        padding: 0 50px;
        transition: .3s;
    }

    .container .contant .info {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .container .contant .info P{
        padding: 0;
        margin-left: 70px;
    }

    header{
        z-index: 1;
        justify-content: center;
    }

}

@media (max-width:1250px){
    .container .contant .info p{
        padding: 0 150px 0 0;
    }
}

@media (max-width:1100){
    .container .contant .image > img{
        height: 350px;
        width: 500px;
    }
}

@media (max-width:650){
    .container .contant .info{
        width: 450px;
    }
    .container .contant .info{
        padding: 0 20px;
    }
}

@media (max-width:470){
    .container .contant .info{
        width: 400px;
    }

    header{
        justify-content: flex-start;
    }

    .icons{
        top: 459px;
        left: 50%;
        transform: translateX(-50%);
        flex-flow: row wrap;
    }

    .icons i{
        margin: 0 10px;
    }
}